<h1>A rude URL shortener</h1>
<br>
<br>
<form action="/urls" method="post">
  Please enter the URL to be shortened, you prick.<br>
  <input type="text" name="urltobeshortened">
  <input type="submit" value="Click here, Dumbass!">
</form>